@charset "UTF-8";

/* //////////////////////////// 예약 캘린더 페이지 (/booking/bookCalendar.jps) 시작 //////////////////////////// */
div#wrap.calendarWrap {
	width: 1200px;
	border: none;
}

/* /////////////// div#selectMonthArea 시작 /////////////// */
#wrap.calendarWrap div#selectMonthArea {
	width: 300px;
	/* border: 1px solid #000; */
	margin: 0 auto;
	justify-content: space-around;
}
#wrap.calendarWrap div#selectMonthArea button {
	width: 30px;
	height: 30px;
	
	color: #222;
	font-weight: bold;
	line-height: 14px;
	
	padding: 0;
	border: 1px solid #aaa;
	border-radius: 5px;
	margin: auto 0;
	
	background-color: #fff;
	display: inline-block;
}
/* /////////////// div#selectMonthArea 끝 /////////////// */



/* /////////////// div#tblHeadArea 시작 /////////////// */
#wrap.calendarWrap div#tblHeadArea {
	font-size: 14px;
	padding-top: 10px;
	border-top: 3px solid #000;
	margin-top: 30px;
	justify-content: space-between;
}
/* /////////////// div#tblHeadArea 끝 /////////////// */



/* /////////////// 캘린더 테이블 (table#calendarTbl) 시작 /////////////// */
#wrap.calendarWrap table#calendarTbl {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0 40px;
}
/* #calendarTbl>caption {
	padding: 10px 0;
} */
#calendarTbl>tbody th,
#calendarTbl>tbody td {
	border: 1px solid #ddd;
}
#calendarTbl>tbody th {
	padding: 10px 0;
}
#calendarTbl>tbody td {
	font-size: 13px;
	padding: 8px 8px 30px;
}
#calendarTbl>tbody td>p {
	margin-top: 7px;
}
#calendarTbl>tbody td>h4 {
	font-size: 18px;
	margin-bottom: 8px;
}
#calendarTbl>tbody td:first-child>h4 {
	color: #f00;
}
#calendarTbl>tbody td:last-child>h4 {
	color: #00f;
}
#calendarTbl>tbody td a.booked {
	color: #f00;
	text-decoration: line-through;
	cursor: auto;
}
/* /////////////// 캘린더 테이블 (table#calendarTbl) 끝 /////////////// */

/* //////////////////////////// 예약 캘린더 페이지 (/booking/bookCalendar.jps) 끝 //////////////////////////// */






/* //////////////////////////// 예약결제 페이지 (/booking/booking.jps) 시작 //////////////////////////// */
div#wrap.bookWrap table#bookTbl {
	width: 900px;
	padding: 20px;
	/* border: 1px solid #aaa; */
	border-collapse: collapse;
	margin: 30px auto;
}
#bookTbl caption {
	text-align: right;
	padding-bottom: 10px;
}
#bookTbl tbody td {
	padding: 10px;
	border: 1px solid #ddd;
}
#bookTbl tbody td textarea {
	width: 100%;
	resize: none;
}
#bookTbl tbody td:first-child {
	text-align: right;
	background-color: #fafafa;
}
#bookTbl tbody .guideTxt {
	color: #888;
	font-size: 14px;
}
#bookTbl tbody p.guideTxt {
	line-height: 2em;
	vertical-align: bottom;
}

#bookTbl tfoot td {
	text-align: center;
	padding-top: 40px;
}
#bookTbl #bookSubmitBtn,
#bookTbl #modifySubmitBtn {
	width: 300px;
	height: 55px;
	font-size: 18px;
}
#bookTbl #bookCalendarBtn {
	width: 300px;
	height: 55px;
	color: #aaa;
	font-size: 18px;
	border: 3px solid #aaa;
	background-color: #fff;
}

/* input 크기 지정 시작 */

#bookTbl #uName {
	width: 150px;
}
#bookTbl #uBirth {
	width: 150px;
}
#bookTbl #uPhone {
	width: 200px;
}
#bookTbl #uEmail1 {
	width: 160px;
}
#bookTbl #uEmail2 {
	width: 160px;
}
/* input 크기 지정 끝 */

/* //////////////////////////// 예약결제 페이지 (/booking/booking.jps) 끝 //////////////////////////// */






/* ////////////////////////////  시작 //////////////////////////// */
/* ////////////////////////////  끝 //////////////////////////// */
/* ///////////////  시작 /////////////// */
/* ///////////////  끝 /////////////// */
/* 시작 */
/* 끝 */