@charset "UTF-8";
@import url("style_Reset.css");


/* //////////////////////////// 공통요소시작 //////////////////////////// */
h1 {
	font-size: 30px;
	text-align: center;
	margin: 20px 0;
}
input[type=text],
input[type=password],
input[type=number],
select,
textarea {
	font-size: 18px;
	padding: 6px 12px;
	border: 1px solid #aaa;
	border-radius: 3px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
select:focus,
textarea:focus {
	border: 1px solid #009cff;
	outline: none;
}
input[type=checkbox],
input[type=radio] {
	width: 20px;
	height: 20px;
	cursor: pointer;
	transform: translateY(4px)
}
button {
	color: #fff;
	font-size: 16px;
	padding: 8px 12px;
	border: none;
	background-color: #009cff;
}
table {
	border-collapse: collapse; 
}
table>tbody th,
table>tbody td {
	padding: 10px;
	border: 1px solid #aaa;
}
.accent {
	color: #f80;
	font-size: 20px;
	font-weight: bold;
}
/* //////////////////////////// 공통요소 끝 //////////////////////////// */





/* //////////////////////////// div#wrap 시작 //////////////////////////// */
div#wrap {
	width: 1200px;
	border: 1px solid #ddd;
	padding: 10px;
	margin: 0 auto;
}
/* //////////////////////////// div#wrap 끝 //////////////////////////// */





/* //////////////////////////// iframe 시작 //////////////////////////// */
iframe {
	width: 100%;
	border: none;
	border-bottom: 1px solid #aaa;
}

/* iframe_header 시작 */
iframe#iframe_header {
	height: 250px;
	position : relative;
}
/* iframe_header 끝 */

/* iframe_footer 시작 */
iframe#iframe_footer {
	width: 100%;
	height: 100px;
	border: none;
	border-top: 1px solid #aaa;
	position: relative;
	bottom: 0;
}
/* iframe_footer 끝 */
/* //////////////////////////// iframe 끝 //////////////////////////// */



/* //////////////////////////// 우편번호 찾기 페이지 (/member/zipCheck.jsp) 시작 //////////////////////////// */
div#wrap_pop {
	padding: 20px;
}
#wrap_pop hr {
	margin: 10px 0;
}
#wrap_pop table#zipFrmTbl {
	width: 100%;
}
#wrap_pop #zipResTbl {
	width: 100%;
	margin-top: 10px;
}
#wrap_pop #zipResTbl td {
	padding: 5px 10px;
	cursor: pointer;
}
#wrap_pop #zipResTbl td:hover {
	text-decoration: underline;
}
/* //////////////////////////// 우편번호 찾기 페이지 (/member/zipCheck.jsp) 끝 //////////////////////////// */


/* //////////////////////////// 마이페이지 LNB 메뉴 영역 시작 //////////////////////////// */ 
div#myPageLnbArea {
	width: 260px;
	border: 1px solid #aaa;
	border-radius: 5px;
	margin-right: 20px;
}
#myPageLnbArea ul#myPageLnb {
	width: 100%;
}
#myPageLnbArea #myPageLnb>li {
	margin: 10px;
	cursor: pointer;
}
#myPageLnbArea #myPageLnb>li>a {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	
	padding: 17px 0;
	border: 1px solid #aaa;
	display: block;
}

#myPageLnbArea #myPageLnb>li:hover>a {
	text-decoration: underline;
	background-color: #ddd;
}
/* //////////////////////////// 마이페이지 LNB 메뉴 영역 끝 //////////////////////////// */




/* ////////////////////////////  시작 //////////////////////////// */
/* ////////////////////////////  끝 //////////////////////////// */
/* ///////////////  시작 /////////////// */
/* ///////////////  끝 /////////////// */
/* 시작 */
/* 끝 */