@charset "UTF-8";

/* ////////////////////////////  시작 //////////////////////////// */
div#wrap.calendarWrap {
	width: 1200px;
}
div#wrap.calendarWrap table {
	width: 100%;
	border-collapse: collapse;
}
div#wrap.calendarWrap table th,
div#wrap.calendarWrap table td {
	padding: 10px 0;
	border: 1px solid #aaa;
}
/* ////////////////////////////  끝 //////////////////////////// */






/* ////////////////////////////  시작 //////////////////////////// */
/* ////////////////////////////  끝 //////////////////////////// */
/* ///////////////  시작 /////////////// */
/* ///////////////  끝 /////////////// */
/* 시작 */
/* 끝 */