@charset "UTF-8";

/* //////////////////////////// 이용약관 페이지 (/member/joinAgreement.jps) 시작 //////////////////////////// */
div#wrap.joinAgreementWrap {
	width: 1000px;
	padding: 30px;
	margin: 30px auto;
}
#wrap.joinAgreementWrap .termsArea {
	margin: 50px 0;
}
#wrap.joinAgreementWrap .termsArea label {
	font-size: 16px;
}
#wrap.joinAgreementWrap iframe {
	border: 1px solid #aaa;
	margin: 20px 0 10px;
}
#wrap.joinAgreementWrap #chkAllArea input#chkAllBtn {
	width: 24px;
	height: 24px;
}
#wrap.joinAgreementWrap #chkAllArea span {
	font-size: 20px;
}
#wrap.joinAgreementWrap div#joinBtnArea {
	text-align: center;
	/* border: 1px solid #000; */
}
#wrap.joinAgreementWrap button#agreeSubmitBtn {
	width: 300px;
	height: 55px;
	font-size: 18px;
}
/* //////////////////////////// 이용약관 페이지 (/member/joinAgreement.jps) 끝 //////////////////////////// */



/* //////////////////////////// 회원가입 페이지 (/member/join.jps) 시작 //////////////////////////// */
div#wrap.joinWrap table#joinTbl {
	width: 900px;
	padding: 20px;
	/* border: 1px solid #aaa; */
	border-collapse: collapse;
	margin: 30px auto;
}
#joinTbl caption {
	text-align: right;
	padding-bottom: 10px;
}
#joinTbl tbody td {
	padding: 10px;
	border: 1px solid #ddd;
}
#joinTbl tbody td:first-child {
	text-align: right;
	background-color: #fafafa;
}
#joinTbl tbody .guideTxt {
	color: #888;
	font-size: 14px;
}
#joinTbl tbody p.guideTxt {
	line-height: 2em;
	vertical-align: bottom;
}

#joinTbl tfoot td {
	text-align: center;
	padding-top: 40px;
}
#joinTbl #joinSubmitBtn,
#joinTbl #modifySubmitBtn {
	width: 300px;
	height: 55px;
	font-size: 18px;
}

/* input 크기 지정 시작 */
#joinTbl #uid {
	width: 150px;
}
#joinTbl #upw {
	width: 260px;
}
#joinTbl #upw2 {
	width: 260px;
}
#joinTbl #uName {
	width: 150px;
}
#joinTbl #uEmail1 {
	width: 160px;
}
#joinTbl #uEmail2 {
	width: 160px;
}
#joinTbl #uBirth {
	width: 200px;
}
#joinTbl #uZipcode {
	width: 200px;
}
#joinTbl #uAddr {
	width: 500px;
}
/* input 크기 지정 끝 */

/* //////////////////////////// 회원가입 페이지 (/member/join.jps) 끝 //////////////////////////// */




/* //////////////////////////// 회원정보 수정 페이지 (/member/myPage_Mod.jps) 시작 //////////////////////////// */
#wrap.modifyWrap {
	/* border: 1px solid #000; */
	justify-content: space-between;
}
#wrap.modifyWrap table#joinTbl {
	width: 850px;
	border-collapse: collapse;
}
#wrap.modifyWrap div#myPageArea {
	width: 890px;
	padding: 10px;
	/* border: 1px solid #aaa; */
}

/* //////////////////////////// 회원정보 수정 페이지 (/member/myPage_Mod.jps) 끝 //////////////////////////// */


/* //////////////////////////// 로그인 페이지 (/member/login.jps) 시작 //////////////////////////// */
div#wrap.loginWrap {
	width: 1000px;
}
#wrap.loginWrap #loginFrm.dFlex {
	width: 700px;
	margin: 0 auto;
	justify-content: space-between;
}
#wrap.loginWrap #inputArea {
	width: 550px;
}
#wrap.loginWrap #inputArea input {
	width: 500px;
	font-size: 24px;
	padding: 12px 20px;
	outline: none;
	margin: 10px;
	display: inline-block;
}
#wrap.loginWrap #loginBtnArea {
	padding: 10px;
}
#wrap.loginWrap #loginBtnArea button {
	width: 170px;
	height: 133px;
	font-size: 24px;
	font-weight: bold;
}
/* //////////////////////////// 로그인 수정 페이지 (/member/login.jps) 끝 //////////////////////////// */





/* ////////////////////////////  시작 //////////////////////////// */
/* ////////////////////////////  끝 //////////////////////////// */
/* ///////////////  시작 /////////////// */
/* ///////////////  끝 /////////////// */
/* 시작 */
/* 끝 */
