@charset "UTF-8";

/* //////////////////////////// 예약 캘린더 페이지 (/booking/bookCalendar.jps) 시작 //////////////////////////// */
div#wrap.calendarWrap {
	width: 1200px;
}

/* /////////////// 달력 테이블 (table#calendarTbl) 시작 /////////////// */
#wrap.calendarWrap table#calendarTbl {
	width: 100%;
	border-collapse: collapse;
}
#calendarTbl th,
#calendarTbl td {
	padding: 10px 0;
	border: 1px solid #aaa;
}
#calendarTbl td {
	font-size: 13px;
	padding-left: 12px;
}
#calendarTbl td>h4 {
	font-size: 18px;
	margin-bottom: 8px;
}
#calendarTbl td:first-child>h4 {
	color: #f00;
}
#calendarTbl td:last-child>h4 {
	color: #00f;
}
/* /////////////// 달력 테이블 (table#calendarTbl) 끝 /////////////// */

/* //////////////////////////// 예약 캘린더 페이지 (/booking/bookCalendar.jps) 끝 //////////////////////////// */






/* ////////////////////////////  시작 //////////////////////////// */
/* ////////////////////////////  끝 //////////////////////////// */
/* ///////////////  시작 /////////////// */
/* ///////////////  끝 /////////////// */
/* 시작 */
/* 끝 */